.text-purple{
    color: rgb(150, 23, 61);
}

.bg-purple{
    background-color: rgb(150, 23, 61);
}

.border-purple{
    border: 2px solid rgb(150, 23, 61);
}

.bg-button{
    background-color: rgb(176, 176, 176);
}
.border-gray{
    border: 2px solid rgb(176, 176, 176);
}

tbody{
    height: 80px;
}

.vertical{
    vertical-align: bottom;
}